@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome To The BookStore</h1>
    <h2 class="display-4">Hello! The Author is @Model.Author</h2>
    <p>This is the current date and time @DateTime.Now</p>
</div>

